@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
.section-fade-in {
  animation: sectionFadeIn 0.5s ease-out forwards;
}

html, body, * {
  overflow-x: hidden;
}

@keyframes sectionFadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  color-scheme: light dark;
}

/* Dark mode still works with `class` */
@variant dark (&:where(.dark, .dark *)) {}

@theme {
  --color-primary: #2563eb;   /* Elegant Blue */
  --color-secondary: #10b981; /* Green */
  --color-accent: #ef4444;    /* Red */
  --color-purple: #8b5cf6;    /* Purple */
  --color-orange: #f97316;    /* Orange */
  --color-gray-text: #6b7280; /* Neutral Gray */
}